<!DOCTYPE html> <!--I typed html:5 then press the tab key, which is the Emmet shortcut to insert a standard HTML boilerplate-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li> <!--In order for our navigation links to work, we need use the Jinja templating method of url_for in order to call the appropriate functions.-->
            <li><a href="{{ url_for('about') }}">About</a></li> <!--The format for that is: double curly brackets (opening and closing), url_for, and then the name of our function goes inside of single quotes wrapped inside of parentheses.-->
            <li><a href="{{ url_for('contact') }}">Contact</a></li> <!--The format for that is: double curly brackets (opening and closing), url_for, and then the name of our function goes inside of single quotes wrapped inside of parentheses.-->
            <li><a href="{{ url_for('carreers') }}">Carreers</a></li> <!--The format for that is: double curly brackets (opening and closing), url_for, and then the name of our function goes inside of single quotes wrapped inside of parentheses.-->
        </ul>

    </nav>
    {% block content %}  <!--The curly bracket and percentage are for statements that control the flow of our template, such as a for-loop, if-statement, or this block element.-->
    {% endblock %}
    
</body>
</html>